.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body{background-color: #7f8fa6}

.YouTube{
  border: 5px #FFFFFF solid;
  margin: 20px;
}

.SearchBar{
  margin-top: 30px;
}

#abc{
  margin-bottom: 10px;
  font-size: 30px;
  text-align: center;
}

#GetVideos{
  margin: 10px;
  padding: 10ps 20px;
  font-size: 30px;
  background-color:#eea990;
  width: 500px;
  height: 50px;
}
#SearchResults{
  margin-top: 50px;
  border: 10px solid #93A8AC;
  font-size: 20px;
  visibility: hidden
}
ul{
  list-style-type: none;
}
li{

}
.results{
  margin-bottom: 20px;
  font-size: 20px;
  background-color: #F2E394;
  opacity: 0.5;
}
#GetMore{
  visibility: hidden;
}
