html, body, #root {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
  display: flex;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #faffbd ;
  opacity: 1;
}



.login-page {
  background-color:  #FF4136;
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}



